.ac-header-navbar {
  .center-logo-header {
    font-size: 1rem;
    .font-weight-light {
      font-weight: lighter !important;
    }
  }
}

.ac-subheader {
  &__section {
    span {
      font-size: 14px;
    }
  }
}
